@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Square+Peg&display=swap');

body {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: 'PT Sans', sans-serif;
	width: 100vw;
	/* font-size:20px; */
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-content: center;
	/* align-items: stretch; */
	justify-content: center;
	justify-content: space-around;


}

.container-fluid {
	height: 90vh;
	width: 100vw;
	position: relative;
	background: rgba(248, 248, 248, 0.5);

}

.container-fluid::before {
	content: '';
	position: absolute;

	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	background-image: url('images/bg-header.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
	opacity: 0.1;
	z-index: -10;
}


.navbar {

	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	margin: 20px;
	margin-top: 0px;
	padding: 25px;
	padding-bottom: 10px;
	height: 60px;

	/* color:; */

}

.nav_list-content {
	float: left;
	list-style: none;
	padding-left: 20px;
	padding-right: 20px;
	background-color: transparent;
	font-weight: bolder;

}

.logo a {
	color: blue;
	text-decoration: none;
}


.logo img {

	height: 75px;
}

.nav_list-content a {
	text-decoration: none;
	color: rgb(74, 74, 137);
	padding-left: 0px;
}

.nav_list-content a:hover {
	color: rgba(91, 102, 253, 0.656);
}

.icons a {
	/* width: 150px; */
	color: rgb(74, 74, 137);
	text-decoration: none;


}

.icons a img:hover {
	background: linear-gradient(to left, rgba(220, 195, 232, 0.487), rgba(193, 226, 255, 0.305));
	border-radius: 5px;
}

.download-cv {
	border: 3px solid rgb(55, 142, 235);
	border-radius: 2vh;
	padding: 20px 30px;
	margin-left: 20px;
	;
	background: transparent;
}

.download-cv:hover {
	background: linear-gradient(to left, rgba(220, 195, 232, 0.487), rgba(193, 226, 255, 0.305));
}

.content-My-info {
	height: 70vh;
	width: 87vw;
	position: absolute;
	top: 100px;
	/* left:95%; */
	background-image: url('images/content-info.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	border-radius: 10vh;
	margin: 40px;
	margin-left: 30;
	padding-top: 50px;
	padding-bottom: 50px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-content: center;
	align-items: center;
	justify-content: center;
	box-shadow: 1px 1px 20px 3px rgba(16, 16, 16, 0.692);

	justify-content: space-around;
	z-index: 1000;
}


/* .my-img */
.content-My-info::after {
	content: '';
	height: 80vh;
	width: 25vw;
	position: absolute;
	top: 19vh;
	left: 35vh;
	border-radius: 6vh;
	/* background-color: aqua; */
	background-image: url('images/me .jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: local;
	box-shadow: 2px 1px 20px 2px rgba(25, 25, 25, 0.912);
	transition: 4;
}

.info-table {
	position: relative;
	left: 2vw;
	top: -8vh;
	background: linear-gradient(to right, rgba(86, 27, 114, 0.487), rgba(80, 173, 255, 0.37));
	box-shadow: 1px 1px 20px 2px rgba(112, 145, 255, 0.342);
	border-radius: 7vh;
	padding: 20px;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-content: normal;
	align-items: center;
	margin-top: 15vh;
	width: 26vw;
	padding-right: 6vh;
}

.hello {
	color: white;
	font-size: 4vh;
	font-weight: 20px;
	font-family: 'Dancing Script', cursive;
	position: relative;

}

.table-header {
	color: white;
	font-size: 2vh;
	font-weight: 20px;

}

.table {
	position: relative;
	left: 1vw;

}

.info-name {
	position: relative;
	font-size: 8vh;
	/* left: 6vw; */
}

info-name p {

	margin-top: 0px;
}

.table {
	font-size: 4vh;
	margin-left: -7 vw;
}

.jain {
	color: rgb(55, 141, 255);
	background: linear-gradient(to left, rgba(119, 62, 145, 0.54), rgba(53, 88, 120, 0.568));

}

th,
td {
	padding: 2vh;
	font-size: 3vh;
	/* text-align: left; */
}

th.table-header {

	font-size: 3vh;
	margin-top: 2vh;
	margin-right: 3vh;

}

/* .geeks {
	/* caption-side: bottom;  */

/* .geeks caption img{
	height:76px */
/* ;transform:rotateY(60deg) */



.container-fluid1 {
	width: 100%;
	height: 180vh;
	position: relative;
	/* z-index: -1; */
	font-size: 2vh;
	/* background: url('images/b2.jpg'); */
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	/* background: linear-gradient(to left, rgba(128, 45, 166, 0.316), rgba(27, 130, 226, 0.356)); */
}

.container-fluid1::after {
	content: '';
	width: 100%;
	height: 180vh;
	position: absolute;
	top: 0vh;
	opacity: 0.7;
	z-index: -2;
	font-size: 2vh;
	background: url('images/b3.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	/* background: linear-gradient(to left, rgba(128, 45, 166, 0.316), rgba(27, 130, 226, 0.356)); */
}

.content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
	top: 5vh;

}

.content p {
	/* margin-top: 45vh; */
	z-index: 1000;
}

.content-domain {
	font-size: 3vh;
	margin-top: 35vh;
	/* margin-left: 40vw; */
	position: relative;
	/* top: 50vh; */
	list-style: none;
	align-content: center;
	z-index: 1000;
	display: flex;
	flex-direction: column;

	align-items: center
}

.content-domain li {
	padding: 1vh;

}


.flex-domain-content {
	display: flex;
	align-items: center;
	position: relative;
	justify-content: center;
	flex-wrap: nowrap;
	flex-direction: row;
	align-content: space-around;

}

.flex-items {
	position: relative;
	margin: 5vh;
	border-radius: 7vh;
	width: 21vw;
	height: 45vh;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: nowrap;
	align-content: space-between;
	box-shadow: 1px 1px 20px 2px rgba(35, 35, 35, 0.912);
}


.flex-items::after {
	content: '';
	position: absolute;
	margin: 5vh;
	border-radius: 7vh;
	width: 21vw;
	height: 45vh;
	background: linear-gradient(to left, rgba(168, 116, 191, 0.45), rgba(64, 134, 225, 0.632));
	top: -5vh;
	left: -5vh;



}

.flex-items::before {
	content: '';
	background: url('images/flex-item.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	margin: 5vh;
	border-radius: 7vh;
	width: 21vw;
	height: 45vh;
	position: absolute;
	opacity: 0.3;
	top: -5vh;
	left: -5vh;

}

.flex-items img {

	height: 12vh;
	width: 12vh;
	border-radius: 7vh;
	;
	position: absolute;
	z-index: 1000;
	/* left: 16vh; */
	padding-top: 3vh;


}


.flex-items h1 {
	position: absolute;
	z-index: 1000;
	/* left: 10vh;
	top: 14vh; */
	margin: 15vh;
	margin-right: 16vh;
	padding: 2vh;
	/* 
	margin-top: 2v; */
	align-items: center;
	/* padding: 3vh; */
	font-size: 3vh;
	/* margin-left: 3vh; */
	/* margin-right: 3vh; */
	align-content: center;
}

.flex-items p {
	position: absolute;
	top: 30vh;
	z-index: 1000;
	overflow-x: hidden;

}

.p-content {
	position: absolute;
	left: 80vh;
	margin-top: 12vh;
	font-family: 'Dancing Script', cursive;
	font-size: 4vh;

}

.content {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-content: center;

}







/* ------------------------------ CONTENT-2 CSS STARTING --------------------------------- */





.container-fluid2 {
	width: 100%;
	height: 180vh;
	position: relative;
	background: rgba(255, 255, 255, 0.274);
	/* z-index: -1; */
	font-size: 2vh;
	/* background:url('images/container2_.jpg'); */
	/* linear-gradient(to left, rgba(128, 45, 166, 0.316), rgba(27, 130, 226, 0.356)); */
}

.container-fluid2::after {
	content: '';
	width: 100%;
	height: 180vh;
	position: absolute;
	top: 0vh;
	/* z-index: -1; */
	font-size: 2vh;
	background: url('images/container2_.jpg');
	background-attachment: fixed;
	background-size: cover;
	/* linear-gradient(to left, rgba(128, 45, 166, 0.316), rgba(27, 130, 226, 0.356)); */
	z-index: -1;
	opacity: 0.2;
}


.content2 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
	top: 5vh;

}

.content2 p {
	/* margin-top: 45vh; */
	z-index: 1000;
}

.content-domain2 {
	font-size: 3vh;
	margin-top: 35vh;
	/* margin-left: 40vw; */
	position: relative;
	/* top: 50vh; */
	list-style: none;
	align-content: center;
	z-index: 1000;
	display: flex;
	flex-direction: column;

	align-items: center
}

.content-domain2 li {
	padding: 1vh;

}


.flex-domain-content2 {
	display: flex;
	align-items: center;
	position: relative;
	justify-content: center;
	flex-wrap: wrap;
	flex-direction: row;
	align-content: space-around;
	height: 100vh;
	/* width:140vh; */

	/* margin-left: 49vh; */
}

.flex-items2 {
	position: relative;
	margin: 5vh;
	border-radius: 7vh;
	border: 1px solid rgba(228, 224, 224, 0.213);
	width: 37vw;
	height: 35vh;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: nowrap;
	align-content: space-between;
	box-shadow: 1px 1px 20px 2px rgba(32, 32, 32, 0.912);
	background: url('images/flex-item.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;

}


.flex-items2::after {
	content: '';
	position: absolute;
	margin: 5vh;
	border-radius: 7vh;
	width: 37vw;
	height: 35vh;
	background: linear-gradient(to left, rgba(255, 255, 255, 0.875), rgba(255, 255, 255, 0.897));
	top: -5vh;
	left: -5vh;



}

.flex-items2::before {
	content: '';
	position: relative;

	z-index: 10200;
	background-color: rgb(42, 42, 190);
	margin: 5vh;
	border-radius: 3vh;
	width: 7vh;
	height: 39vh;
	position: absolute;
	opacity: 1;
	top: -7vh;
	left: 65vh
}

#date {
	color: rgb(255, 255, 255);
	z-index: 10200;
	font-size: 2vh;
	transform: rotate(-90deg);
	position: absolute;
	left: 69vh;
	top: 16vh;

}

.content-domain21 {
	width: 28vw;
	height: 35vh;
	margin: 4vh;
	margin-left: -10vh;
	/* margin-left:3vh; */
	position: absolute;
	z-index: 1000;
	list-style: none;
}

.p-content2 {
	position: absolute;
	left: 80vh;
	margin-top: 12vh;
	font-family: 'Dancing Script', cursive;
	font-size: 4vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-content: center;

}

.video-card {
	height: 60vh;
	width: 50vw;
	position: absolute;
	background: rgb(255, 255, 255);
	top: -28vh;
	left: 56vh;
	border-radius: 5vh;
	box-shadow: 1px 1px 19px 1px black;
	background-image: url('images/i-frame1.jpg');
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-size: cover;
	border: 1px solid rgba(0, 0, 0, 0.124);
}

.content3 {
	height: 70vh;
	width: 120vh;
	background: #000;
}










/* ------------------------------ CONTENT-3 CSS STARTING --------------------------------- */





.container3 {
	width: 100%;
	height: 250vh;
	position: relative;
	background: rgba(255, 255, 255, 0.422);
	/* z-index: -1; */
	font-size: 2vh;


	/* linear-gradient(to left, rgba(128, 45, 166, 0.316), rgba(27, 130, 226, 0.356)); */
}

.container3::after {
	content: '';
	width: 100%;
	height: 180vh;
	position: absolute;
	top: 0vh;
	z-index: -1;
	font-size: 2vh;
	background: url('images/container2_.jpg');

	background-size: cover;

	background-repeat: no-repeat;
	background-attachment: fixed;
	/* linear-gradient(to left, rgba(128, 45, 166, 0.316), rgba(27, 130, 226, 0.356)); */
	z-index: -1;
	opacity: 0.8;
}


.content3 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
	top: -15vh;
	left: 34vh;
	height: 140vh;
	width: 180vh;
	background-color: rgb(20, 35, 201);
	border-radius: 4vh;
	box-shadow: 1px 1px 20px 2px rgba(29, 29, 29, 0.912);

}

/* 
.content3::after {

	position: absolute;
	top: -15vh;
	left: 48vh;
	height: 130vh;
	width: 166vh;
	border-radius: 4vh;
	z-index: -1;
	background-color: rgb(0, 0, 0);
} */

.content3 p {
	/* margin-top: 45vh; */
	z-index: 1000;
}


.content-domain3 li {
	padding: 1vh;

}


.flex-domain-content3 {
	display: flex;
	align-items: center;
	position: relative;
	justify-content: center;
	flex-wrap: wrap;
	flex-direction: row;
	align-content: space-around;
	height: 100vh;
	width: 120vh;
	align-content: center;
	left: 25vh;
	;
	top: 5vh;
	margin: 35vh;
	/* z-index: 10200; */

	/* margin-left: 49vh; */
}

.flex-items3 {

	position: relative;
	margin: 5vh;
	border-radius: 7vh;
	border: 1px solid rgba(228, 224, 224, 0.213);
	width: 33vh;
	height: 30vh;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: nowrap;
	align-content: space-between;
	box-shadow: 1px 1px 20px 2px rgba(29, 29, 29, 0.912);
	background: url('images/flex-item.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;

}


.flex-items3::after {
	content: '';
	position: absolute;
	margin: 5vh;
	border-radius: 7vh;
	width: 33vh;
	height: 30vh;
	background: linear-gradient(to left, rgba(255, 255, 255, 0.875), rgba(255, 255, 255, 0.897));
	top: -5vh;
	left: -5vh;



}

/* .flex-items3::before {
	content: '';
	position: relative;

	z-index: 10200;
	background-color: rgb(42, 42, 190);
	margin: 5vh;
	border-radius: 3vh;
	width: 30vh;
	height: 30vh;
	position: absolute;
	opacity: 1;
	top: -7vh;
	left: 60vh
}  */


.content-domain3 {
	width: 28vw;
	height: 35vh;
	margin: 4vh;
	margin-left: 55vh;
	top: -1vh;
	position: absolute;
	z-index: 1000;
	list-style: none;
}

.flexcontent3 {

	list-style: none;
	position: absolute;
	z-index: 1000;
}

.icon {
	height: 7vh;
	width: 7vh;
	background-color: rgb(255, 255, 255);
	box-shadow: 1px 1px 20px 2px rgba(29, 29, 29, 0.912);
	border-radius: 2vh;


}

.icon2 {
	position: relative;
	height: 7vh;
	width: 7vh;
	background-color: rgb(255, 255, 255);
	box-shadow: 1px 1px 20px 2px rgba(29, 29, 29, 0.912);
	border-radius: 2vh;
	left: 8vh;
	top: -7vh;

}

.icon3 {
	position: relative;
	height: 7vh;
	width: 7vh;
	background-color: rgb(255, 255, 255);
	box-shadow: 1px 1px 20px 2px rgba(29, 29, 29, 0.912);
	border-radius: 2vh;
	left: 16vh;
	top: -14vh
}

#imgicon {
	height: 5vh;
	width: 5vh;
	position: relative;
	top: 1vh;
	left: 1.022vh;

}




.content4 {

	position: absolute;
	top: 0vh;
	left: 0vh;
	height: 140vh;
	width: 100vh;
	background-color: rgb(30, 0, 47);
	border-radius: 4vh;
	box-shadow: 1px 1px 20px 2px rgba(29, 29, 29, 0.912);

}


.content4 {

	position: absolute;
	top: 0vh;
	left: 0vh;
	height: 140vh;
	width: 100vh;
	background-image: url('images/workskills.jpg');
	border-radius: 4vh;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	box-shadow: 1px 1px 20px 2px rgba(29, 29, 29, 0.912);

}

.flex-domain-content4 {
	display: flex;
	align-items: center;
	position: relative;
	justify-content: center;
	flex-wrap: wrap;
	flex-direction: row;
	align-content: space-around;
	height: 120vh;
	width: 80vh;
	align-content: center;
	left: 7.6vh;
	top: 5vh;

	/* z-index: 10200; */

	/* margin-left: 49vh; */
}

.flex-domain-content4 img {
	position: relative;
	height: 7vh;
	width: 7vh;

	/* z-index: 10200; */

	/* margin-left: 49vh; */
}

.flex-items4 {

	position: relative;
	margin: 1vh;
	border-radius: 7vh;
	/* border: 1px solid rgba(228, 224, 224, 0.213); */
	width: 65vh;
	height: 35vh;
	/* box-shadow: 1px 1px 20px 2px rgb(29 29 29 / 91%); */
	display: flex;
	align-items: center;
	flex-wrap: nowrap;
	align-content: space-between;
	flex-direction: row;
	justify-content: space-between;

}

#flex4-header {

	position: relative;
	margin: 1vh;
	border-radius: 7vh;

	width: 60vh;
	height: 10vh;
	margin-top: 6vh;
	display: flex;
	align-items: center;
	flex-wrap: nowrap;
	align-content: space-between;
	flex-direction: row;
	justify-content: space-between;
}

#flex-items4 {

	position: relative;
	margin: 1vh;
	border-radius: 7vh;
	border: 1px solid rgba(228, 224, 224, 0.213);
	width: 60vh;
	height: 40vh;

	box-shadow: 1px 1px 20px 2px rgba(29, 29, 29, 0.912);
	background: rgba(39, 2, 99, 0.588);
	display: flex;
	align-items: center;
	flex-wrap: nowrap;
	align-content: space-between;
	flex-direction: row;
	justify-content: space-between;

}

/* 
.flex-items4::after {
	content: '';
	position: absolute;
	margin: 5vh;
	border-radius: 7vh;
	width: 33vh;
	height: 30vh;
	background: linear-gradient(to left, rgba(255, 255, 255, 0.875), rgba(255, 255, 255, 0.897));
	top: -5vh;
	left: -5vh;



}
  */

.flexcontent4 {
	width: 28vw;
	height: 35vh;
	margin: 4vh;
	margin-left: 55vh;
	top: -1vh;
	/* position: relative; */
	z-index: 1000;
	list-style: none;
}