@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Square+Peg&display=swap');

body {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: 'PT Sans', sans-serif;
	width: 100vw;
	/* font-size:20px; */
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-content: center;
	/* align-items: stretch; */
	justify-content: center;
	justify-content: space-around;


}

.container-fluid {
	height: 90vh;
	width: 100vw;
	position: relative;
	background: rgba(248, 248, 248, 0.5);

}

.container-fluid::before {
	content: '';
	position: absolute;

	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	background-image: url('images/bg-header.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
	opacity: 0.1;
	z-index: -10;
}


.navbar {

	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	margin: 20px;
	margin-top: 0px;
	padding: 25px;
	padding-bottom: 10px;
	height: 60px;

	/* color:; */

}

.nav_list-content {
	float: left;
	list-style: none;
	padding-left: 20px;
	padding-right: 20px;
	background-color: transparent;
	font-weight: bolder;

}

.logo a {
	color: blue;
	text-decoration: none;
}


.logo img {

	height: 75px;
}

.nav_list-content a {
	text-decoration: none;
	color: rgb(74, 74, 137);
	padding-left: 0px;
}

.nav_list-content a:hover {
	color: rgba(91, 102, 253, 0.656);
}

.icons a {
	/* width: 150px; */
	color: rgb(74, 74, 137);
	text-decoration: none;


}

.icons a img:hover {
	background: linear-gradient(to left, rgba(220, 195, 232, 0.487), rgba(193, 226, 255, 0.305));
	border-radius: 5px;
}

.download-cv {
	border: 3px solid rgb(55, 142, 235);
	border-radius: 2vh;
	padding: 20px 30px;
	margin-left: 20px;
	;
	background: transparent;
}

.download-cv:hover {
	background: linear-gradient(to left, rgba(220, 195, 232, 0.487), rgba(193, 226, 255, 0.305));
}

.content-My-info {
	height: 70vh;
	width: 87vw;
	position: absolute;
	top: 100px;
	/* left:95%; */
	background-image: url('images/content-info.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	border-radius: 10vh;
	margin: 40px;
	margin-left: 30;
	padding-top: 50px;
	padding-bottom: 50px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-content: center;
	align-items: center;
	justify-content: center;
	box-shadow: 1px 1px 20px 2px rgba(60, 59, 59, 0.912);

	justify-content: space-around;
	z-index: 1000;
}


/* .my-img */
.content-My-info::after {
	content: '';
	height: 80vh;
	width: 25vw;
	position: absolute;
	top: 19vh;
	left: 35vh;
	border-radius: 6vh;
	/* background-color: aqua; */
	background-image: url('images/me .jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: local;
	box-shadow: 1px 1px 20px 2px rgba(60, 59, 59, 0.912);
	transition: 4;
}

.info-table {
	position: relative;
	left: 2vw;
	top: -8vh;
	background: linear-gradient(to right, rgba(86, 27, 114, 0.487), rgba(80, 173, 255, 0.37));
	box-shadow: 1px 1px 20px 2px rgba(112, 145, 255, 0.342);
	border-radius: 7vh;
	padding: 20px;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-content: normal;
	align-items: center;
	margin-top: 15vh;
	width: 26vw;
	padding-right: 6vh;
}

.hello {
	color: white;
	font-size: 4vh;
	font-weight: 20px;
	font-family: 'Dancing Script', cursive;
	position: relative;

}

.table-header {
	color: white;
	font-size: 2vh;
	font-weight: 20px;

}

.table {
	position: relative;
	left: 1vw;

}

.info-name {
	position: relative;
	font-size: 8vh;
	/* left: 6vw; */
}

info-name p {

	margin-top: 0px;
}

.table {
	font-size: 4vh;
	margin-left: -7 vw;
}

.jain {
	color: rgb(55, 141, 255);
	background: linear-gradient(to left, rgba(119, 62, 145, 0.54), rgba(53, 88, 120, 0.568));

}

th,
td {
	padding: 2vh;
	font-size: 3vh;
	/* text-align: left; */
}

th.table-header {

	font-size: 3vh;
	margin-top: 2vh;
	margin-right: 3vh;

}

/* .geeks {
	/* caption-side: bottom;  */

/* .geeks caption img{
	height:76px */
/* ;transform:rotateY(60deg) */



.container-fluid1 {
	width: 100%;
	height: 180vh;
	position: relative;
	/* z-index: -1; */
	font-size: 2vh;
	background: linear-gradient(to left, rgba(128, 45, 166, 0.316), rgba(27, 130, 226, 0.356));
}

.content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
	top: 5vh;

}

.content p {
	/* margin-top: 45vh; */
	z-index: 1000;
}

.content-domain {
	font-size: 3vh;
	margin-top: 35vh;
	/* margin-left: 40vw; */
	position: relative;
	/* top: 50vh; */
	list-style: none;
	align-content: center;
	z-index: 1000;
	display: flex;
	flex-direction: column;

	align-items: center
}

.content-domain li {
	padding: 1vh;

}


.flex-domain-content {
	display: flex;
	align-items: center;
	position: relative;
	justify-content: center;
	flex-wrap: nowrap;
	flex-direction: row;
	align-content: space-around;

}

.flex-items {
	position: relative;
	margin: 5vh;
	border-radius: 7vh;
	width: 21vw;
	height: 50vh;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: nowrap;
	align-content: space-between;
	box-shadow: 1px 1px 20px 2px rgba(117, 117, 117, 0.912);
}


.flex-items::after {
	content: '';
	position: absolute;
	margin: 5vh;
	border-radius: 7vh;
	width: 21vw;
	height: 50vh;
	background: linear-gradient(to left, rgba(101, 5, 146, 0.708), rgba(4, 94, 178, 0.616));
	top: -5vh;
	left: -5vh;



}

.flex-items::before {
	content: '';
	background: url('images/flex-item.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	margin: 5vh;
	border-radius: 7vh;
	width: 21vw;
	height: 50vh;
	position: absolute;
	opacity: 0.3;
	top: -5vh;
	left: -5vh;

}

.flex-items img {

	height: 12vh;
	width: 12vh;
	border-radius: 7vh;
	;
	position: absolute;
	z-index: 1000;
	/* left: 16vh; */
	padding-top: 3vh;
	

}


.flex-items h1 {
	position: absolute;
	z-index: 1000;
	/* left: 10vh;
	top: 14vh; */
	margin: 15vh;
	margin-right: 16vh;
	padding: 2vh;
	/* 
	margin-top: 2v; */
	align-items: center;
	/* padding: 3vh; */
	font-size: 3vh;
	/* margin-left: 3vh; */
	/* margin-right: 3vh; */
	align-content: center;
}

.flex-items p {
	position: absolute;
	top: 30vh;
	z-index: 1000;
	overflow-x: hidden;

}

.p-content {
	position: absolute;
	left: 80vh;
	margin-top: 12vh;
	font-family: 'Dancing Script', cursive;
	font-size: 4vh;

}

.content {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-content: center;

}